@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;

    /* START OF 'TYPO INIT'  */
    /* SIZE  */
    --fs-default: 14px;
    --fs-paragraph: var(--fs-default);
    --fs-heading: calc(var(--fs-default) + 4.5rem);
    font-size: var(--fs-paragraph);

    /* WEIGHT  */
    --fw-400: 400;
    --fw-700: 700;
    --fw-900: 900;
    font-family: "Raleway", sans-serif;

    /* LINE HEIGHT  */
    line-height: 1.5rem;
    /* END OF 'TYPO INIT'  */

    /* COLORS  */
    /* PRIMARY  */
    --clr-p-gradient1: hsl(6, 100%, 80%);
    --clr-p-gradient2: hsl(335, 100%, 65%);

    /* NEUTRAL  */
    --clr-n-pale-blue: hsl(243, 100%, 93%);
    --clr-n-gray-lue: hsl(229, 7%, 55%);
    --clr-n-dark-blue: hsl(228, 56%, 26%);
    --clr-n-black-blue: hsl(229, 57%, 11%);
}

body {
    background-image: url("../images/bg-mobile.png");
    background-color: var(--clr-n-dark-blue);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.background {
    display: none;
}

/* MAIN CARD  */
.wholecard {
    padding: 10rem 1.5rem;
    min-width: max-content;

    /* max-width: 590px; */
}
/* TOP CONTAINER  */
.container__top,
.container__bottom {
    background-color: var(--clr-n-dark-blue);
    border-radius: 15px 100px 15px 15px;
}
.container__top {
    padding: 3rem 2rem;
    margin-bottom: 1.5rem;
}

.container__top__title {
    padding-bottom: 1.5rem;
}

.container__top__icons {
    display: flex;
    align-items: center;
}

.container__top__icons--icon {
    background-color: var(--clr-n-black-blue);
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    margin-right: 1.2rem;
    width: 50px;
    height: 50px;
}

/* BOTTOM CONTAINER  */
.container__bottom {
    /* padding-bottom: 1rem; */
    padding: 3rem 2rem;
    border-radius: 15px;
    color: var(--clr-n-pale-blue);
    position: relative;
}
.container__bottom--text {
    padding: 0 2rem 1rem 2rem;
}
strong {
    font-weight: var(--fw-700);
}
.container__bottom--progbar {
    position: relative;
    width: 100%;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: var(--clr-n-black-blue);
}
.container__bottom--progbar::before,
.container__bottom--progbar::after {
    content: "";
    display: block;
    height: 1rem;
    border-radius: 0.5rem;
}

.container__bottom--progbar::before {
    width: 75%;
    background-image: linear-gradient(to right, var(--clr-p-gradient1), var(--clr-p-gradient2));
}
.container__bottom--progbar::after {
    position: absolute;
    top: 12%;
    right: 25.5%;
    width: 0.8rem;
    height: 0.8rem;
    background-color: white;
}
.container__bottom--probar-data {
    font-weight: var(--fw-700);
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
}

/* POP OUT CONTAINER  */
.container__bottom--dataleft {
    position: absolute;
    background-color: white;
    width: max-content;
    height: min-content;
    border-radius: 0.5rem;
    padding: 1.5rem 1.7rem;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 75%);
}

.container__bottom--dataleft h1 {
    color: var(--clr-n-black-blue);
    font-size: 3rem;
}
.container__bottom--dataleft p {
    color: var(--clr-n-gray-lue);
    font-weight: var(--fw-700);
    font-size: 0.7rem;
    padding-left: 0.5rem;
}

/* BEGIN RESPONSIVE FOR DESKTOP */

@media (min-width: 40em) {
    body {
        background-image: url("../images/bg-desktop.png");
        background-color: var(--clr-n-black-blue);
        background-position-x: 0vh;
        background-position-y: 15vw;
        background-repeat: no-repeat;
    }

    .wholecard {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        min-height: 70vh;
    }
    .container {
        display: flex;
        align-items: flex-end;
    }
    .container__top {
        min-width: 25rem;
        margin-right: 2rem;
        margin-bottom: 0;
    }
    .container__bottom {
        width: 33rem;
        /* height: 8rem; */
        padding: 1rem 2rem;
        margin: 0;
    }
    .container__bottom--text {
        padding: 0;
        padding-bottom: 1rem;
    }
    .container__bottom--dataleft {
        border-bottom-right-radius: 0;
        position: relative;
        transform: translate(30%, -175%);
    }
    .container__bottom--dataleft::after {
        content: "";
        position: absolute;
        bottom: -23%;
        right: 0;
        border: 15px solid transparent;
        border-right-color: white;
    }
}
