@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;

    /* START OF 'TYPO INIT'  */
    /* SIZE  */
    --fs-default: 14px;
    --fs-paragraph: var(--fs-default);
    --fs-heading: calc(var(--fs-default) + 4.5rem);
    font-size: var(--fs-paragraph);

    /* WEIGHT  */
    --fw-400: 400;
    --fw-700: 700;
    --fw-900: 900;
    font-family: "Raleway", sans-serif;

    /* LINE HEIGHT  */
    line-height: 1.5rem;
    /* END OF 'TYPO INIT'  */

    /* COLORS  */
    /* PRIMARY  */
    --clr-p-gradient1: hsl(6, 100%, 80%);
    --clr-p-gradient2: hsl(335, 100%, 65%);

    /* NEUTRAL  */
    --clr-n-pale-blue: hsl(243, 100%, 93%);
    --clr-n-gray-lue: hsl(229, 7%, 55%);
    --clr-n-dark-blue: hsl(228, 56%, 26%);
    --clr-n-black-blue: hsl(229, 57%, 11%);
}

body {
    background-image: url("../images/bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* MAIN CARD  */
.wholecard {
    padding: 10rem 1.5rem;
    min-width: max-content;
}

/* TOP CONTAINER  */
.container__top,
.container__bottom {
    padding: 3rem 2rem;
    background-color: var(--clr-n-dark-blue);
    border-radius: 15px 100px 15px 15px;
    margin-bottom: 1.5rem;
}
.container__top {
}

.container__top__title {
    padding-bottom: 1.5rem;
}

.container__top__icons {
    display: flex;
    align-items: center;
}

.container__top__icons--icon {
    background-color: var(--clr-n-black-blue);
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    margin-right: 1.2rem;
    width: 50px;
    height: 50px;
}

/* BOTTOM CONTAINER  */
.container__bottom {
    padding-bottom: 1rem;
    border-radius: 15px;
    color: var(--clr-n-pale-blue);
    text-align: center;
}
.container__bottom--text {
    padding: 0 2rem 1rem 2rem;
}
strong {
    font-weight: var(--fw-700);
}
.container__bottom--progbar {
    position: relative;
    width: 100%;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: var(--clr-n-black-blue);
}
.container__bottom--progbar::before,
.container__bottom--progbar::after {
    content: "";
    display: block;
    height: 1rem;
    border-radius: 0.5rem;
}

.container__bottom--progbar::before {
    width: 75%;
    border-radius: 0.5rem;
    background-image: linear-gradient(to right, var(--clr-p-gradient1), var(--clr-p-gradient2));
}
.container__bottom--progbar::after {
    position: absolute;
    top: 12%;
    right: 25.5%;
    width: 0.8rem;
    height: 0.8rem;
    background-color: white;
    border-radius: 0.5rem;
}
.container__bottom--probar-data {
    font-weight: var(--fw-700);
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
}

/* POP OUT CONTAINER  */
.container__bottom--dataleft {
    position: relative;
    background-color: white;
    width: max-content;
    height: min-content;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 75%);
}

.container__bottom--dataleft h1 {
    color: var(--clr-n-black-blue);
    font-size: 2rem;
}
.container__bottom--dataleft p {
    color: var(--clr-n-gray-lue);
    align-items: center;
    font-size: 0.7rem;
    padding-left: 0.5rem;
}
